{% extends 'base1.html' %}
{% load static %}
{% block content %}
<div class="pl-3 pr-3">
    <h1 style="font-family: 'Times New Roman', Times, serif; text-align: center; color: #fff;">User View</h1>
<div class="table-wrap pt-3 pb-3" style="overflow-x: scroll;">
    <table class="table table-bordered" id="mydatatable" style=" text-align: center;color: #fff;" >
        <thead>
            <th>S.No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Action</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.first_name }}</td>
                <td>{{ i.last_name }}</td>
                <td>{{ i.username }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.password }}</td>
                <td><input type="checkbox" class="form-check-input"></td>
                <td><i class="fa fa-trash fa-lg"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}